@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;500;600&display=swap');


/* Navabr */
.container{
    width: 1200 !important;
    max-width: none !important;
}
    


nav{
    display: flex;
    justify-content: space-between;
    height: 79px;
    align-items: center;
    font-family: Nunito;
    font-weight: bold;
}

.nav-logo img {
    position: relative;
    margin-left: 50px;
    width: 130px;
    height: 39px;
}

.nav-items{
    width: 55%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.nav-links {
    width: 85%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

.nav-link{
    color: #ffff;
    text-decoration: none;
    font-size: 15px;
}

.nav-link.active{
    font-weight: 600;
    border-bottom: 3px solid #ffff;
}

button.btn-daftar{
    padding: 8px 40px;
    border: 2px solid #ffff;
    background-color: transparent;
    border-radius: 40px;
    color: #ffff;
    font-family: Nunito;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
}

button.btn-daftar img{
    padding: 0 10px;
    
}
/* Navbar End */

/* Judul */

section.hero{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60vh;
}

.column-bg img{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -9999;
    width: 1100px;
    height: 500px;
}

.column-head{
    padding-top: 100px;
    width: 40%;
}

.text-head{
    margin-top: 150px;
}

h1.head{
    position: relative;
    margin-left: 50px;
    font-size: 50px;
    font-family: Jost;
}

.support{
    position: relative;
   display: flex;
}

.support img {
    padding: 0 10px;
    width: 120px;
    height: 27px;
}

h3.support{
    position: relative;
    margin-left: 60px;
    font-size: 20px;
    font-family: Jost;
    font-weight: 300;
}

p.content{
    position: relative;
    margin-left: 60px;
    font-size: 16px;
    font-family: Nunito;
}

.bec{
    position: relative;
    margin-left: 60px;
    color: #BF0561;
}

button.btn-gabung{
    position: relative;
    margin-left: 60px;
    padding: 8px 40px;
    border: none;
    background-color:#BF0561;
    border-radius: 40px;
    color: #ffff;
    font-family: Nunito;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
}

button.btn-gabung img {
    padding: 0 10px;
}

/* Judul End */

/* Judul 2 */

.text-head{
    width: 100%;
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.th-1{
    font-weight: bold;
    font-size: 40px; 
    font-family: Jost;  
}

.th-s{
    border-bottom: 5px solid #BF0561;
}

.tc-1{
    padding: 40px 0;
    width: 50%;
    text-align: center;
    font-family: Nunito;
}

.tc-b{
    color: #BF0561;
    font-weight: bold;
}

.hero2d{
    display: flex;
    font-family: Nunito;
}

.text-wd{
    text-align: justify;
    padding: 0 10px;
}

.text-wdos{
    color: #BF0561;
    font-weight: bold;
}

.img-wd img{
    width: 350px;
    height: 250px;
}

/* Judul 2 End */

/* Doorprize */

section.prize{
    width: 100%;
    height: 70vh;
}

.dp-head{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    align-items: center;
    font-family: Jost;
}

.dp-s{
    border-bottom: 5px solid #BF0561;
}

.dp-v{
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    font-family: Nunito;
}

.dp-hadiah img{
    margin-left: 20px;
    padding: 10px;
    width: 250px;
    height: 195px;
}

.dp-text{
    width: 80%;
    margin-left: 20px;
    font-size: 16px;
    text-align: center;
    align-items: center;
}

/* Doorprize End */

/* Bagaimana Caranya */

section.bagaimna{
    margin-top: 150px;
}
.text-bg{
    font-weight:bold ;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    align-items: center;
    

}

.t-bg1{
    border-bottom: 5px solid #BF0561;
}
/* Set the style of container
            div element */
            .container2{
                height: 340px;
                width: 1040px;
                overflow-y: auto;
                overflow-x: hidden;
                background-color: rgb(255, 255, 255);
                border-radius: 5px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                margin: 0 auto;
                display: block;
            }
            /* Set the effects to the division
                named content */
            .scrollbar{
                height: 200px;  
                width: 900px;
                margin-left: 50px;
                color: white;
                text-align: left;
            }
             
            /* Designing for scroll-bar */
            ::-webkit-scrollbar {
                width: 6px;
            }
         
            /* Track */
            ::-webkit-scrollbar-track {
                background: gainsboro;
                border-radius: 5px;
            }
         
            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: #BF0561;
                border-radius: 5px;
            }
         
            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

    ul.a {
        list-style-position: inside;
        color : #BF0561;
    }

    li {
        color: #BF0561;
    }

.gambarburi {
    position: absolute;
    width: 87px;
    height: 126px;
    left: 140px;
    top: 2300px;
    z-index: -1;
    
}

.gambarbur2{
    position: absolute;
    width: 121px;
    height: 176px;
    left: 1180px;
    top: 2000px;
    z-index: -1;

}


.gmbrhp{
    position: relative;
    width: 380.67px;
    height: 612px;
    margin-top: 150px;
    margin-left: 300px;
}

.bgr{
    position: relative;
    width: 398.13px;
    height: 362.43px;
    margin-top: -510px;
    margin-left: 260px;
    z-index: -1;
}

.vidio{
    position: relative;
    width: 370px;
    height: 600px;
    margin-top: -445px;
    margin-left: 310px;
    z-index: -1;
}

.rct{
    position: relative;
    width: 344px;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    margin-top: -470px;
    margin-left: 700px;
}

.tema{
    position: relative;
    width: 442px;
    height: 28px;
   margin-top: 20px;
   margin-left: 700px;
}

.cek{
    position: relative;
    width: 340px;
    height: 28px;
   margin-top: 20px;
   margin-left: 700px;
}

.btn-ig{
    position: relative;
    width: 182px;
    height: 35px;
    margin-top: 20px;
    margin-left: 700px;
    background-color: #BF0561;
}

button.btn-ig{
    padding: 8px 40px;
    border: none;
    background-color:#BF0561;
    border-radius: 40px;
    color: #ffff;
    font-family: Nunito;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
}

button.btn-ig.img{
    padding: 0 10px;
}

.glr{
    position: relative;
    width: 231px;
    height: 51px;
    margin-top: 400px;
    margin-left: 600px;

    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
    color: #222222;
}

.bgkanan{
    position: relative;
    margin-left: 1044px;
    z-index: -1;
}
.bgkananbawah{
    position: relative;
    margin-left: 1344px;
    margin-top: -110px;
}

.bgkiri{
    position: relative;
    margin-top: -750px;
}

.bgkiriatas{
    position: relative;
    margin-top: -600px;
    margin-left: 100px;
}


.swiper{
    width: 1000px;
    height: 480px;
    margin-top: -600px;
    background: #f6f6f6;
    border-radius: 18px;
}

.swiper-slide{
    max-height: 380px;
    max-width: 300px;
    position: relative;
    margin-top: 50px;
    margin-left: 40px;
    padding-top: 10px;
    background: #FFFFFF;
    border-radius: 15px;
    z-index: 1;

}
.rachel{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

.igrachel{
    text-align: center;
    margin-top: -10px;
}

.fotorachel{
    position: relative;
    margin-left: -330px;
    margin-top: 144px;
    z-index: 1;
}

.fotobulat1{
    margin-top: -60px;
    margin-left: 20px;
    z-index: 1;
}

.dere{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

.igdere{
    text-align: center;
    margin-top: -10px;
}

.fotobulat2{
    margin-top: -360px;
    margin-left: 20px;
}

.isyana{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

.igisyana{
    text-align: center;
    margin-top: -10px;
}


.btn-swiper{
    position: relative;
    padding: 8px 40px;
    margin-top: 400px;
    margin-left: 630px;
    border: none;
    font-style: normal;
    background-color:#BF0561;
    border-radius: 40px;
    color: #ffff;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.banner{
    width: 1440px;
    height: 480px;
    margin-top: 100px;
    background: #FFFFFF;
    border-radius: 18px;
}

.banner1{
    position: relative;
    margin-left: -40px;
    margin-top: 60px ;
    border-radius: 20%;
    opacity: 30%;
}

.banner2{
    position: relative;
    margin-left: 210px;
    margin-top: 60px;

}

.banner3{
    position: relative;
    margin-left: 1000px;
    margin-top: 60px;
    opacity: 30%;
}

.swiper.banner .swiper-slide:nth-child(1n) {
    width: 0px;
   
  }

  .swiper.banner .swiper-slide:nth-child(2n) {
    width: 0%;

    
  }

  .swiper.banner .swiper-slide:nth-child(3n) {
    width: 0%;
  }



.seputar{
    position: relative;
    margin-top: 200px;
    font-weight:bold ;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    align-items: center;
}

.sptr{
    border-bottom: 5px solid #BF0561;
}

.galerisatu{
    position: relative;
    width: 380px;
    height: 351px;
    margin-top: 100px;
    margin-left: 80px;

    background: #FFFFFF;
    box-shadow: 0px 5px 13px rgba(66, 66, 66, 0.16256);
    border-radius: 19px;
}
.s1{
    position: relative;
    width: 341px;
    height: 54px;
    margin-top: 5px;
    margin-left: 19px;
    font-size: 18px;
    font-weight: 400px;
    line-height: 27px;
    font-style: normal;
    font-family: Cera system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.selengkapnya1{
    position: relative;
    width: 109px;
    height: 19px;
    margin-top: 50px;
    margin-left: 19px;
    font-family: 'Cera Basic';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #BF0561;
}

.galeridua{
    position: relative;
    width: 380px;
    height: 351px;
    margin-top: -352px;
    margin-left: 545px;
    background: #FFFFFF;
    box-shadow: 0px 5px 13px rgba(66, 66, 66, 0.16256);
    border-radius: 19px;
}

.s2{
    position: relative;
    width: 337px;
    height: 81px;
    margin-top: 5px;
    margin-left: 19px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.selengkapnya2{
    position: relative;
    width: 110px;
    height: 19px;
    margin-top: 20px;
    margin-left: 19px;

    font-family: 'Cera Basic';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #BF0561;

}

.galeritiga{
    position: relative;
    width: 380px;
    height: 351px;
    margin-top: -351px;
    margin-left: 1000px;

    background: #FFFFFF;
    box-shadow: 0px 5px 13px rgba(66, 66, 66, 0.16256);
    border-radius: 19px;
}

.s3{
    position: relative;
    width: 339px;
    height: 54px;
    margin-top: 5px;
    margin-left: 19px;

    font-family: 'Cera Basic';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #222222;

}

.selengkapnya3{
    position: relative;
    width: 106px;
    height: 19px;
    margin-top: 50px;
    margin-left: 19px;
    font-family: 'Cera Basic';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #BF0561;

}

.galeriempat{
    position: relative;
    width: 380px;
    height: 351px;
    margin-top: 60px;
    margin-left: 80px;

    background: #FFFFFF;
    box-shadow: 0px 5px 13px rgba(66, 66, 66, 0.16256);
    border-radius: 19px;
}

.s4{
    position: relative;
    width: 339px;
    height: 54px;
   margin-top: 5px;
   margin-left: 19px;

    font-family: 'Cera Basic';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #222222;
}

.selengkapnya4{
    position: relative;
    width: 106px;
    height: 19px;
    margin-top: 50px;
    margin-left: 19px;

    font-family: 'Cera Basic';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #BF0561;

}

.galerilima{
    position: relative;
    width: 380px;
    height: 351px;
    margin-top: -351px;
    margin-left: 545px;

    background: #FFFFFF;
    box-shadow: 0px 5px 13px rgba(66, 66, 66, 0.16256);
    border-radius: 19px;
}

.s5{
    position: relative;
    width: 337px;
    height: 54px;
    margin-top: 5px;
    margin-left: 19px;

    font-family: 'Cera Basic';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;


    color: #222222;

}

.selengkapnya5{
    position: relative;
    width: 106px;
    height: 19px;
    margin-top: 50px;
    margin-left: 19px;

    font-family: 'Cera Basic';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #BF0561;

}

.galerienam{
    position: relative;
    width: 380px;
    height: 351px;
    margin-top: -351px;
    margin-left: 1000px;
    background: #FFFFFF;
    box-shadow: 0px 5px 13px rgba(66, 66, 66, 0.16256);
    border-radius: 19px;
}
.s6{
    position: relative;
    width: 339px;
    height: 81px;
    margin-top: 5px;
    margin-left: 19px;

    font-family: 'Cera Basic';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #222222;

}

.selengkapnya6{
    position: relative;
    width: 106px;
    height: 19px;
    margin-top: 25px;
    margin-left: 19px;
    font-family: 'Cera Basic';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #BF0561;

}

button.btn-mor{
    position: relative;
    padding: 8px 40px;
    margin-top: 100px;
    margin-left: 650px;
    border: none;
    font-style: normal;
    background-color:#BF0561;
    border-radius: 40px;
    color: #ffff;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.sponsored_tittle{
    position: relative;
    margin-top: 100px;
    font-weight:bold ;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    align-items: center;
}

.spon{
    border-bottom: 5px solid #BF0561;;
}

.spn1{
    position: relative;
    width: 202px;
    height: 143px;
    margin-top: 100px;
    margin-left: 250px;
}

.spn2{
    position: relative;
    width: 210px;
    height: 64px;
    margin-top: -150px;
    margin-left: 630px;
}

.spn3{
    position: relative;
    width: 250px;
    height: 77px;
    margin-top: -60px;
    margin-left: 1000px;
}

.spn4{
    position: relative;
    width: 176px;
    height: 68px;
    margin-top: 100px;
    margin-left: 250px;
}

.spn5{
    position: relative;
    width: 142px;
    height: 70px;
    margin-top: -70px;
    margin-left: 600px;
}

.spn6{
    position: relative;
    width: 109px;
    height: 86.33px;
    margin-top: -70px;
    margin-left: 850px;
}

.spn7{
    position: relative;
    width: 137px;
    height: 97px;
    margin-top: -90px;
    margin-left: 1050px;
}

.footer{
    position: relative;
    text-align: center;
    margin-top: 200px;
    color: #FFFFFF;
    background-color: #9B004D;
    padding: 10px 0;
    font-family: 'Cera Basic';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}